* {
  font-family: arial;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.ocultarDiv {
  visibility: hidden;
  height: 0;
}

main {
  padding-bottom: 40px;
}

/*COMIENZO: Header y menú*/

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url("./img/background.jpg");
  height: 220px;
}

#headerLogo {
  margin: 30px;
}

#headerLogo img {
  max-width: 100%;
  max-height: 100%;
}

#headerMenu {
  display: flex;
}

#headerMenu a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}

.headerMenuSeleccionado {
  text-decoration: overline;
  text-decoration-color: white;
}

#menuHome {
  background-color: #dbca46;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 110px;
  padding-bottom: 10px;
}

#menuConsejos {
  background-color: #e27e24;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 110px;
  padding-bottom: 10px;
}

#menuBuscador {
  background-color: #b2243c;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 110px;
  padding-bottom: 10px;
}

#menuUsuario {
  background-color: #dcce4b;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 110px;
  padding-bottom: 10px;
}

/*FIN: Header y menú*/

#fraseHome {
  text-align: center;
  margin-top: 40px;
}

#fraseHome img {
  max-width: 100%;
  max-height: 100%;
}

#parrafoHome {
  align-content: center;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 80px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: rgb(80, 80, 80);
  margin-left: 30px;
  margin-right: 30px;
}

.tituloMain {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-stretch: ultra-expanded;
  font-size: 28px;
  text-align: center;
  color: rgb(88, 34, 0);
  background-color: rgb(255, 211, 77);
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.subtitulo {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  color: rgb(88, 34, 0);
  margin-top: 60px;
  margin-left: 30px;
  margin-right: 30px;
  border-bottom: 1px solid rgb(88, 34, 0);
}

.boton {
  border: 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 14px;
  color: white;
  background-color: rgb(88, 34, 0);
  padding-top: 6px;
  padding-bottom: 6px;
}

/*COMIENZO: Resenyas individuales*/

.filaCuatroResenyas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 30px 50px 30px;
}

.resenyaIndividual {
  display: flex;
  flex-direction: column;
  border: solid 1px rgb(0, 0, 0);
  border-top-right-radius: 30px;
  background-color: rgb(212, 211, 211);
  width: 20%;
  padding: 20px;
  margin: 5px;
}

.resenyaIndividual-PROBANDO {
  display: flex;
  flex-direction: column;
  border: solid;
  width: 23%;
}

.alternativa {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin: 30px;
  border: solid 1px rgb(220, 220, 220);
  border-top-right-radius: 30px;
  background-color: rgb(240, 240, 240);
  width: 600px;
}

.resenyaIndividualNombre {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  background-color: grey;
  height: 80px;
  border: solid 1px rgb(0, 0, 0);
  border-top-right-radius: 30px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.resenyaIndividualPeli {
  display: flex;
  align-items: center;
  background-color: #995f5a;
  border: solid 1px rgb(0, 0, 0);
  padding: 10px;
  height: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.resenyaIndividualPeli h5 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(255, 211, 77);
  text-transform: uppercase;
  padding-left: 10px;
  margin: 0;
}

.videoResponsive {
  width: 100%;
}

#resenyaTCDMain {
  display: flex;
  justify-content: space-between;
  background-color: rgb(234, 234, 234);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 12px;
  color: rgb(80, 80, 80);
  padding-left: 20px;
  padding-right: 20px;
}

.resenyaTCD {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.resenyaTCDIcono {
  padding-right: 6px;
}

.resenyaTipoUsuario {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.resenyaTipo {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: rgb(88, 34, 0);
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(255, 211, 77);
}

.resenyaUsuario {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 12px;
  font-style: italic;
  color: rgb(80, 80, 80);
}

.resenyaEditarBorrar {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  align-items: center;
  padding-left: 10px;
  padding-right: 8px;
}

.resenyaEditarBorrarIcono {
  padding-right: 10px;
}

.resenyaEditarBorrarIcono button {
  border: none;
}

/*FIN: Resenyas individuales*/

/*COMIENZO: Zona Privada Usuario: Cerrar sesión */

#cerrarSesion {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}

#iconoCerrarSesion {
  margin-right: 8px;
}

#textoCerrarSesion {
  display: flex;
  flex-direction: row;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 13px;
  font-stretch: ultra-expanded;
  color: rgb(255, 64, 0);
}

/*FIN: Zona Privada Usuario: Cerrar sesión*/

/*COMIENZO: Zona Privada Usuario: Nueva resenya*/

#mainUsuario {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 80px;
  margin-left: 30px;
  margin-right: 30px;
  max-width: 100%;
  max-height: 100%;
}

#crearResenya {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(234, 234, 234);
  width: 100%;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

#crearResenya2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(234, 234, 234);
  width: 100%;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.crearResenyaInputs {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 25%;
}

.crearResenyaInputs input {
  border: 1px solid rgb(80, 80, 80);
  margin-bottom: 10px;
  padding-left: 10px;
  height: 22px;
}

.crearResenyaInputs select {
  border: 1px solid rgb(80, 80, 80);
  margin-bottom: 11px;
  padding-left: 6px;
  height: 26px;
}

/*FIN: Zona Privada Usuario: Nueva resenya*/

/*COMIENZO: Zona Privada Usuario: Editar resenya*/

#mainUsuarioEditarResenya {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 80px;
  margin-left: 30px;
  margin-right: 30px;
}

#editarResenya {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(234, 234, 234);
  width: 100%;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

/*FIN: Zona Privada Usuario: Editar resenya*/

/*COMIENZO: Buscador*/

#parrafoBuscador {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: rgb(80, 80, 80);
  margin-left: 30px;
  margin-right: 30px;
}

.lineaSeparacion {
  border-left: 1px dotted rgb(88, 34, 0);
  height: 90px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 10px;
}

#buscarResenya {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(234, 234, 234);
  width: 100%;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

/*FIN: Buscador*/

/*COMIENZO: Footer */

#footer1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(88, 34, 0);
  height: 60px;
}

#footer2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgb(255, 211, 77);
  height: 40px;
  padding-right: 30px;
}

#parrafoPie {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
}

#menuPie {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
}

#menuPie a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 14px;
  color: white;
  margin-right: 10px;
  margin-top: 10px;
}

.footerMenuSeleccionado {
  text-decoration: overline;
  text-decoration-color: white;
}

.iconosRedesSociales {
  margin-left: 10px;
  margin-top: 10px;
}

/*FIN: Footer */

@media (max-width: 600px) {
  .resenyaIndividual {
    flex-direction: column;
  }

  .smallImage {
    display: block;
  }

  .bigImage {
    display: none;
  }

  #welcome {
    font-size: 10px;
  }

  #headerMenu {
    padding: 14px;
  }

  #headerMenu li {
    display: block;
    padding: 0px 18px 0px 18px;
    line-height: 30px;
    text-align: left;
  }

  #headerBuscador {
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    width: 80%;
  }

  #buscador {
    text-align: center;
    margin: 10px 10px 10px 0px;
    padding: 8px 0px 8px 8px;
    width: 100%;
  }

  #botonBuscar {
    padding: 8px 12px 8px 12px;
    margin-bottom: 30px;
  }

  #mainCaracteristicas {
    flex-direction: column;
    padding: 30px 30px 0px 30px;
  }

  .caracteristicas {
    width: 100%;
    margin-bottom: 20px;
  }

  footer {
    flex-direction: column;
    font-size: 14px;
    line-height: 20px;
  }

  .footerApartados {
    width: 100%;
    margin-bottom: 28px;
  }

  footer p {
    font-size: 14px;
    line-height: 20px;
  }

  #redesSociales {
    width: 100%;
    justify-content: flex-end;
  }

  #iconosRedesSociales {
    display: flex;
    flex-direction: row;
    width: 40%;
  }

  #iconosRedesSociales img {
    width: 70%;
    height: 70%;
  }

  .card {
    margin: 30px 30px 0px 30px;
    width: 80%;
  }
}
